
.wrapper {
  /* display: flex; */
  align-items: center;
  justify-content: center;
 
}
.btn {
  display: block;
  margin: 0 auto;
}

#form{
  margin-left: 2px;
  margin-top: 50px;
  margin-right: 95px;
  text-align: center;
  align-items: center;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  background: transparent; 
  margin: 20px 10px;
  border-radius: 5px;
}

.wrapper .btn {
  width: 120%;
  height: 45px;
  background: #d049b7;
  border: none;
  -ms-flex-align: center;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #34bbed;
  font-weight: 600;
}

.hero{
  height:500px;
  margin-top: -20px;
   background-image: url("https://png.pngtree.com/background/20230516/original/pngtree-large-room-full-of-equipment-in-a-gym-picture-image_2611111.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-color: #000015; 
} 
